<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digiwin.smartdepott100">

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 监听用户解锁权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- Required SDK核心功能/TODO:permission需和包名一样 -->
    <permission
        android:name="digiwin.smartdepott100.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required 极光推送需要 -->
    <uses-permission android:name="digiwin.smartdepott100.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature 极光推送需要 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".core.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.MainActivity" />
        <!-- <activity -->
        <!-- android:name="digiwin.futai.main.activity.MainActivity" -->
        <!-- android:theme="@style/SplashTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".login.activity.WelcomeGuideActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.activity.UserInfoActivity" />
        <activity android:name=".main.activity.SettingActivity" />
        <activity
            android:name=".module.test.TestModuleActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.produce.finishstorage.FinishedStorageActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.FinishedStorageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.common.CommonDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.common.NoComeUnComActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.common.CommonTwoCommitActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.produce.transtersreview.TransfersToReviewActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.TransfersToReviewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".module.activity.produce.transtersreview.TransfersToReviewComActivity" />
        <!--生产配货-->
        <activity
            android:name=".module.activity.produce.distribute.DistributeActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.DistributeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.distribute.DistributeScanActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <!-- 退料过账 -->
        <activity
            android:name=".module.activity.produce.materialreturn.MaterialReturnListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MaterialReturnListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.materialreturn.MaterialReturnActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 退料过账 -->
        <activity
            android:name=".module.activity.stock.storecheck.StockCheckListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StockCheckListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.stock.storecheck.StockCheckActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 直接入库 -->
        <activity
            android:name=".module.activity.produce.directstorage.DirectStorageActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.DirectStorageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 依成品发料汇总 -->
        <activity
            android:name=".module.activity.produce.accordingmaterial.AccordingMaterialActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.AccordingMaterialActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 依成品发料扫描 -->
        <activity
            android:name=".module.activity.produce.accordingmaterial.AccordingMaterialScanActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 采购收获 快速 -->
        <activity
            android:name=".module.activity.purchase.materialreceipt.MaterialReceiptActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MaterialReceiptActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.board.RcttBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.RcttBoardActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.board.TctsBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.TctsBoardActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.stock.storeallot.StoreAllotActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StoreAllotActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 依工单发料 -->
        <activity
            android:name=".module.activity.produce.workorder.WorkOrderActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.WorkOrderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.workorder.WorkOrderScanActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 完工入库 -->
        <activity
            android:name=".module.activity.produce.completingstore.CompletingStoreActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.CompletingStoreActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 领料过账 -->
        <activity
            android:name=".module.activity.produce.postmaterial.PostMaterialActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PostMaterialActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.postmaterial.PostMaterialSecondActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 采购入库 -->
        <activity
            android:name=".module.activity.purchase.purchaseinstore.PurchaseInStoreListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PurchaseInStoreListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.purchaseinstore.PurchaseInStoreActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 入库上架 待办事项 -->
        <activity
            android:name=".module.activity.produce.putinstore.PutInStoreActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PutInStoreActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.putinstore.PutInStoreSecondActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.sale.saleoutlet.SaleOutletListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.SaleOutletListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.sale.saleoutlet.SaleOutletActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 销售退货 -->
        <activity
            android:name=".module.activity.sale.salereturn.SaleReturnActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.SaleReturnActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.sale.salereturn.SaleReturnSecondActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.stock.miscellaneousissues.MiscellaneousissuesOutActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MiscellaneousissuesOutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.stock.miscellaneousissues.MiscellaneousissuesInActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MiscellaneousissuesInActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 工序报工 -->
        <activity
            android:name=".module.activity.dailywork.processreporting.ProcessReportingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProcessReportingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 依成品发料 新FIFO -->
        <activity
            android:name=".module.activity.produce.accordingmaterial.AccordingMaterialScanNewActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 采购收货扫描 -->
        <activity
            android:name=".module.activity.purchase.purchasegoodsscan.PurchaseGoodsScanListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PurchaseGoodsScanListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.purchasegoodsscan.PurchaseGoodsScanActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 收货检验 -->
        <activity
            android:name=".module.activity.purchase.purchasecheck.PurchaseCheckActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PurchaseCheckActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 捡料出货清单 -->

        <activity
            android:name=".module.activity.sale.pickupshipment.PickUpShipmentListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PickUpShipmentListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 捡料出货 -->
        <activity
            android:name=".module.activity.sale.pickupshipment.PickUpShipmentActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 二次提交 -->
        <activity
            android:name=".module.activity.sale.pickupshipment.PickUpShipmentCommitActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.produce.enchaseprint.EnchasePrintActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.EnchasePrintActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.stock.storequery.StoreQueryActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StoreQueryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.purchasecheck.BadReasonActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.stock.movestore.MoveStoreActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MoveStoreActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.purchasecheck.CheckShowImageActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.produce.workorderreturn.WorkOrderReturnListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.WorkOrderReturnListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.workorderreturn.WorkOrderReturnActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 流转标签打印 -->
        <activity
            android:name=".module.activity.stock.printlabel.PrintLabelFlowActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PrintLabelFlowActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 成品标签补打 -->
        <activity
            android:name=".module.activity.stock.printlabel.PrintLabelFinishActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PrintLabelFinishActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.common.HaveSourceUnComActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.produce.workorderreturn.WorkOrderReturnCommitActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 依工单补料-补料清单 -->
        <activity
            android:name=".module.activity.produce.worksupplement.WorkSupplementListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.WorkSupplementListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 产品装箱 -->
        <activity
            android:name=".module.activity.stock.productbinning.ProductBinningActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProductBinningActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 产品出箱 -->
        <activity
            android:name=".module.activity.stock.productoutbox.ProductOutBoxActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProductOutBoxActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 依工单补料 -->
        <activity
            android:name=".module.activity.produce.worksupplement.WorkSupplementActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 库存交易锁定 -->
        <activity
            android:name=".module.activity.stock.storetranscation.StoreTransLockActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StoreTransLockActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 库存交易解锁 -->
        <activity
            android:name=".module.activity.stock.storetranscation.StoreTransUnlockActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StoreTransUnlockActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 库存交易解锁明细 -->
        <activity
            android:name=".module.activity.stock.storetranscation.StoreTransUnLockDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 仓库退料清单 -->
        <activity
            android:name=".module.activity.stock.store.StoreReturnMaterialListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StoreReturnMaterialListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 采购仓库退料清单 -->
        <activity
            android:name=".module.activity.purchase.purchasestore.PurchaseStoreListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PurchaseStoreListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.purchasestore.PurchaseStoreActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 仓库退料 -->
        <activity
            android:name=".module.activity.stock.store.StoreReturnMaterialActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 生产超领-超领清单 -->
        <activity
            android:name=".module.activity.produce.productionleader.ProductionLeaderListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProductionLeaderListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 装箱入库-清单 -->
        <activity
            android:name=".module.activity.produce.inbinning.InBinningListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.InBinningListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 装箱入库 -->
        <activity
            android:name=".module.activity.produce.inbinning.InBinningActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 生产超领 -->
        <activity
            android:name=".module.activity.produce.productionleader.ProductionLeaderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 快速入库-清单 -->
        <activity
            android:name=".module.activity.purchase.quickstorage.QuickStorageListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.QuickStorageListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 快速入库 -->
        <activity
            android:name=".module.activity.purchase.quickstorage.QuickStorageActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 扫入扫描 -->
        <activity
            android:name=".module.activity.dailywork.dailworkscan.EntranceActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.EntranceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 开工扫描 -->
        <activity
            android:name=".module.activity.dailywork.dailworkscan.StartWorkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StartWorkActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 完工扫描 -->
        <activity
            android:name=".module.activity.dailywork.dailworkscan.FinishWorkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.FinishWorkActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 扫出扫描 -->
        <activity
            android:name=".module.activity.dailywork.dailworkscan.StockRemovalActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.StockRemovalActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 扫码出货列表 -->
        <activity
            android:name=".module.activity.sale.scanout.ScanOutStoreListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ScanOutStoreListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 扫码出货 -->
        <activity
            android:name=".module.activity.sale.scanout.ScanOutStoreActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 扫码出货二次提交 -->
        <activity
            android:name=".module.activity.sale.scanout.ScanOutCommitActiivty"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 扫码出货明细 -->
        <activity
            android:name=".module.activity.sale.scanout.ScanOutDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 产品质量追溯 -->
        <activity
            android:name=".module.activity.sale.tranceproduct.TraceProductActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.TraceProductActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 产品质量追溯明细 -->
        <activity
            android:name=".module.activity.sale.tranceproduct.TraceProductDetailActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 调拨过账 -->
        <activity
            android:name=".module.activity.stock.postallocate.PostAllocateActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PostAllocateActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 调拨过账扫描 -->
        <activity
            android:name=".module.activity.stock.postallocate.PostAllocateScanActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 依成品调拨汇总 -->
        <activity
            android:name=".module.activity.produce.endproductallot.EndProductAllotActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.EndProductAllotActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 依成品调拨扫描 -->
        <activity
            android:name=".module.activity.produce.endproductallot.EndProductAllotScanActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- PQC检验 -->
        <activity
            android:name=".module.activity.purchase.pqccheckout.PQCCheckOutListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PQCCheckOutListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.pqccheckout.PQCCheckOutActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- PQC检验 -->
        <activity
            android:name=".module.activity.purchase.pqccheck.PQCValueActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.common.ChoosePicActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 线边发料 -->
        <activity
            android:name=".module.activity.produce.linesend.LineSendActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.LineSendActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 采购收货t100版 -->
        <activity
            android:name=".module.activity.purchase.purchasereceiving.PurchaseReceivingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PurchaseReceivingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- procedure_movein -->
        <activity
            android:name=".module.activity.dailywork.proceduremove.ProcedureMoveinActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProcedureMoveinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- procedure_moveout -->
        <activity
            android:name=".module.activity.dailywork.proceduremove.ProcedureMoveoutActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProcedureMoveoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- checkin -->
        <activity
            android:name=".module.activity.dailywork.procedurecheck.ProcedureCheckinActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProcedureCheckinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.dailywork.procedurecheck.ProcedureCheckinSetActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- checkout -->
        <activity
            android:name=".module.activity.dailywork.procedurecheck.ProcedureCheckoutActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ProcedureCheckoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.dailywork.procedurecheck.ProcedureCheckBadResActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".module.activity.produce.finishstorage.WipStorageActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.WipStorageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.putinstore.ZPutInStoreActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.ZPutInStoreActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.putinstore.ZPutInStoreSecondActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <!-- 生产成套领料 -->
        <activity
            android:name=".module.activity.produce.suitpicking.SuitPickingListAcitivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.SuitPickingListAcitivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.suitpicking.SuitPickingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 生产成套领料 半成品 -->
        <activity
            android:name=".module.activity.produce.suitpickinghalf.SuitPickingHalfListAcitivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.SuitPickingHalfListAcitivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.produce.suitpickinghalf.SuitPickingHalfActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- IQCt100检验 -->
        <activity
            android:name=".module.activity.purchase.iqc.IQCListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.IQCListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.activity.purchase.iqc.IQCommitActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 原材料标签打印 -->
        <activity
            android:name=".module.activity.purchase.rawmaterial.RawMaterialPrintActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.RawMaterialPrintActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--扫码收货供应商 -->
        <activity
            android:name="digiwin.smartdepott100.module.activity.purchase.purchasesupplier.PurhcaseSupplierListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PurhcaseSupplierListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 扫码收货供应商 -->
        <activity
            android:name="digiwin.smartdepott100.module.activity.purchase.purchasesupplier.PurchaseSupplierActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- Required SDK 核心功能极光推送需要 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        category
        <!-- Required SDK核心功能/TODO:category需和包名一样 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="digiwin.smartdepot" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- Required JMessage SDK核心功能/TODO:category需和包名一样 -->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="digiwin.smartdepot" />
            </intent-filter>
        </receiver>

        <!-- //TODO:极光IM DigiWin需改成具体客户名称 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="DigiWinT100" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="eac924efeb9d9e47b90703e1" />
        <!-- //TODO:友盟统计 DigiWin需改成具体客户名称 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5875904ac895761b530029ce" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DigiWinT100" />

        <!-- 监听网络状态变化 -->
        <!-- <receiver android:name=".login.netstatus.NetStatusReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action> -->
        <!-- <category android:name="android.intent.category.DEFAULT"></category> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- 开机启动广播 -->
        <receiver android:name=".login.poweredup.StartUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 杂项收料 -->
        <activity
            android:name=".module.activity.stock.miscellaneousissues.MiscellaneousissuesInListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MiscellaneousissuesInListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 杂项发料 -->
        <activity
            android:name=".module.activity.stock.miscellaneousissues.MiscellaneousissuesOutListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.MiscellaneousissuesOutListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 标签补打 -->
        <activity
            android:name=".module.activity.stock.printlabel.PrintLabelFillActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.actiont100.smartdepot.PrintLabelFillActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>